fieldset {
    margin-bottom: 20px;
}

fieldset legend { /* 하위 태그에 적용 fieldset안에 있는 legend에 적용 like inheritance? */
    font-weight: bold;
}

ul{
    list-style: none; 
    padding-left: 0;
}

li{
    margin: 10px;
}

#shipping li label{ /* shipping 쇼소의 하위 li label 요소에 적용*/
    width: 80px;
    float: left; /*원래는 위아래로 배치*/
    text-align: left; /*텍스트 왼쪽 정렬*/
    display: block;
}

input[type="text"], input[type="tel"], input[type="email"]{
    width: 300px;
}

/*주문하기,취소하기 (마지막 두번쨰) 버튼*/
div{
    width: 400px auto;
    margin: 15px;
}

input[type="submit"], input[type="reset"]{
    text-align: center;
    width: 150px;
    height: 40px;
    background: grey;
    border: 1px solid black;
    box-shadow: 1px 1px 1px grey;
}
input[type="submit"]{
    margin-right: 10px;
}